/* Empresa.Modulo.css */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;

}

.companyName {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.companyInformation {
    font-size: 1.5rem;
    color: gray;
}


.home .container {
    z-index: 888;
    color: #4f297a;
    width: 70%;
    margin-top: 50px;
    text-align: center;
    overflow-x: hidden;
}

.home .container>h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .container>p {
    margin-bottom: 65px;
}

.home .media__icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.home .media__icons>a {
    color: #4f297a;
    font-size: 2.2em;
    transition: 0.3s ease;

}

.home .media__icons>a:not(:last-child) {
    margin-bottom: 20px;
}


.home .media__icons>a:hover {
    transform: scale(1.3);
}

.home__grid {
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.home__grid .div__grid {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.home__grid .div__grid table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
}

.home__grid .div__grid th,
.home__grid .div__grid td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.home__grid .div__grid th {
    background-color: #333;
    color: #4f297a;
}

.home__grid .div__grid td:last-child {
    text-align: center;
}

.home__grid .div__grid .btn__popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__grid .div__grid .btn__popup svg {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.home__grid .div__grid .btn__popup svg:hover {
    color: #10a608;
}

/* Adicionando algum espaçamento para melhor legibilidade */
.home__grid .div__grid th,
.home__grid .div__grid td {
    padding: 12px 16px;
}

/* Estilo de fundo alternado para melhor legibilidade */
.home__grid .div__grid tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Adicionando um hover sutil nas linhas da tabela */
.home__grid .div__grid tbody tr:hover {
    background-color: #e1e1e1;
}


.container__grid {
    z-index: 888;
    color: #4f297a;
    width: 70%;
    margin-top: 50px;
}

.tr__grid>th {
    text-align: center;
    border-bottom: inset;
    padding-bottom: 5px;
}

.tbody__grid>tr>td {
    padding-top: 20px;
    text-align: center;
    width: auto;
}

.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.container-middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 5vw;
}

.container-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vw;
    margin-top: 2vw;
    color: #4f297a;
}

.container-titles>hr {
    display: flex;
    margin: auto;
    width: 90%;
    margin-bottom: 1vw;
}

.container-titles>h1 {
    width: 100%;
    gap: 2vw;
    text-align: center;
}

.container-middle-grid-schedules {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
}


.container-middle-grid {
    width: 60%;
    height: 70vh;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.container-middle-grid>hr {
    display: flex;
    margin: auto;
    width: 95%;
    margin-bottom: 1vw;
}

.container-middle-grid-schedules .day-month-year {
    display: flex;
    margin-left: 2vw;
    width: 5vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    height: 12vh;
    margin-bottom: 1vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    color: #4f297a;
}

.container-middle-grid-schedules .day-month-year::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #4f297a;
    opacity: 0.5;
}

.container-middle-grid-schedules img {
    width: 5%;
    height: 5%;
    margin-top: 1vw;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
}

.schedule-text {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: left;
    justify-content: center;
    text-align: left;
    position: relative;
    color: #4f297a;

}

/* Company.module.css */

.tableContainer {
    background-color: white;
    text-align: center;

    /* Fundo branco para o contêiner da tabela */
}

.tableHead {
    background-color: #f5f5f5;
    text-align: center;

    /* Fundo levemente cinza para o cabeçalho da tabela */
}

.tableHeadCell {
    color: black;
    /* Cor do texto do cabeçalho */
    font-weight: bold;
}

.tableBodyCell {
    background-color: #f5f5f5;
    color: black;
    text-align: center;
}

.iconButton {
    color: #5e21a3;
    /* Cor dos ícones */
}

.iconButton.error {
    color: #ff1100;
}

.tableBodyCell.actions {
    width: 100px;
    /* Ajuste a largura conforme necessário */
    text-align: center;
}

.schedule_title {
    color: #4f297a;
    font-size: 24px;
    font-weight: bold;
}

.loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 23, 23, 0.8);
    z-index: 1000;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
}