/* Empresa.Modulo.css */

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.home .container {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .container>h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .container>p {
    margin-bottom: 65px;
}

.home .media__icons {
    z-index: 888;
    position: absolute;
    right: 20vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media__icons>a {
    color: #fff;
    font-size: 2.2em;
    transition: 0.3s ease;

}

.home .media__icons>a:not(:last-child) {
    margin-bottom: 20px;
}


.home .media__icons>a:hover {
    transform: scale(1.3);
}

.home__grid {
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.home__grid .div__grid {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.home__grid .div__grid table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
}

.home__grid .div__grid th,
.home__grid .div__grid td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.home__grid .div__grid th {
    background-color: #333;
    color: #fff;
}

.home__grid .div__grid td:last-child {
    text-align: center;
}

.home__grid .div__grid .btn__popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__grid .div__grid .btn__popup svg {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.home__grid .div__grid .btn__popup svg:hover {
    color: #10a608;
}

/* Adicionando algum espaçamento para melhor legibilidade */
.home__grid .div__grid th,
.home__grid .div__grid td {
    padding: 12px 16px;
}

/* Estilo de fundo alternado para melhor legibilidade */
.home__grid .div__grid tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Adicionando um hover sutil nas linhas da tabela */
.home__grid .div__grid tbody tr:hover {
    background-color: #e1e1e1;
}


.container__grid {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.tr__grid>th {
    text-align: center;
    border-bottom: inset;
    padding-bottom: 5px;
}

.tbody__grid>tr>td {
    padding-top: 20px;
    text-align: center;
    width: auto;
}

.form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.container-middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

.container-titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vw;
    margin-top: 2vw;
    color: #ffffff;
}

.container-titles>hr {
    display: flex;
    margin: auto;
    width: 90%;
    margin-bottom: 1vw;
}

.container-titles>h1 {
    width: 100%;
    gap: 2vw;
    text-align: center;
}

.container-middle-grid-schedules {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2vw;
}


.container-middle-grid {
    width: 60%;
    height: 70vh;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.container-middle-grid > hr {
    display: flex;
    margin: auto;
    width: 95%;
    margin-bottom: 1vw;
}

.container-middle-grid-schedules .day-month-year {
    display: flex;
    margin-left: 2vw;
    width: 5vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    height: 12vh;
    margin-bottom: 1vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    position: relative;
    color: #ffffff;    
}

.container-middle-grid-schedules .day-month-year::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.5;
}

.container-middle-grid-schedules img {
    width: 5%;
    height: 5%;
    margin-top: 1vw;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
}

.schedule-text {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: left;
    justify-content: center;
    text-align: left;
    position: relative;
    color: #ffffff;

}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
}