@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@800&family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: relative;
  justify-content: center;
  min-height: 100vh;
  background: #201b2c;
  background-size: cover;
  background-position: center;
  align-items: center;
}

body * {
  box-sizing: border-box;
}

section {
  padding: 10vw 80vh;
}

table {
  width: 100%;
  background: #fff;
  padding: 1vw;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 5px;
  max-width: 93%;
  margin: 0 0 0 4vw;
  word-break: break-all;
  border-collapse: collapse;
  margin: 0 auto;
}
